.header {
  height: 60px;
  @include tablet {
    height: 80px;
  }

  border-bottom: 1px solid #ececec;
  background-color: var(--w-color);
  > .container {
    @extend %align-template;
  }
}

.menu {
  display: flex;
  gap: 50px;

  @media screen and(max-width: 767px) {
    display: none;
  }
}

.menu__link {
  position: relative;
  display: block;
  padding: 32px 0;

  @include font(500, 14px, 1.14, 0.02em);

  color: var(--title-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';

  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;

  @media screen and(max-width: 767px) {
    display: none;
  }
}

.contacts__item:not(:first-child) {
  @media screen and(max-width: 1199px) {
    margin-top: 10px;
  }
  @include desktop {
    margin-left: 30px;
  }
}

.contacts__link {
  @extend %align-template;

  @include desktop {
    padding: 25px 0;
  }

  @include font(500, 14px, 1.14, 0.02em);

  color: var(--text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.mob-menu-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 10px;

  @include tablet {
    display: none;
  }
}

/* Fixed Header */

/* 
.header.is-fixed {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

body {
  padding-top: 80px;
}
 */
