@media screen and (max-width: 1199px) {
  .solutions-section.section {
    display: none;
  }
}

.solutions-section.section {
  padding-top: 0;
}

.solutions-list {
  display: flex;
}

.solutions-item {
  width: 370px;
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.solutions-over-text {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  @extend %align-template;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--w-color);

  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
}
